.sep {
    border: 0;
    width: 3em;
    height: 1px;
    margin: 1em 0;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .mast {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #111;
  }
  .mast:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.9);
  }
  .mast > header {
    z-index: 2;
    position: relative;
  }
  .mast__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
  }
  .mast__header {
    padding: 5%;
  }
  .mast__title {
    font-family: "Cutive Mono", monospace;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }
  .mast__title span {
    -webkit-animation: letter-glow 0.7s 0s ease both;
            animation: letter-glow 0.7s 0s ease both;
  }
  .mast__title span:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
  }
  .mast__title span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .mast__title span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  .mast__title span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .mast__title span:nth-child(5) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }
  .mast__title span:nth-child(6) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .mast__title span:nth-child(7) {
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
  }
  .mast__title span:nth-child(8) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .mast__title span:nth-child(9) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  .mast__title span:nth-child(10) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .mast__title span:nth-child(11) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
  }
  .mast__title span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .mast__title span:nth-child(13) {
    -webkit-animation-delay: 0.65s;
            animation-delay: 0.65s;
  }
  .mast__title span:nth-child(14) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .mast__title span:nth-child(15) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  .mast__title span:nth-child(16) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .mast__title span:nth-child(17) {
    -webkit-animation-delay: 0.85s;
            animation-delay: 0.85s;
  }
  .mast__title span:nth-child(18) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .mast__title span:nth-child(19) {
    -webkit-animation-delay: 0.95s;
            animation-delay: 0.95s;
  }
  .mast__title span:nth-child(20) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .mast__title span:nth-child(21) {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }
  .mast__title span:nth-child(22) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
  .mast__title span:nth-child(23) {
    -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
  }
  .mast__title span:nth-child(24) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .mast__title span:nth-child(25) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
  }
  .mast__text {
    font-family: "Cutive Mono", monospace;
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
  }
  .mast__text span {
    -webkit-animation: letter-glow 0.7s 0s ease both;
            animation: letter-glow 0.7s 0s ease both;
  }
  .mast__text span:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
  }
  .mast__text span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .mast__text span:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  .mast__text span:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .mast__text span:nth-child(5) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }
  .mast__text span:nth-child(6) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .mast__text span:nth-child(7) {
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
  }
  .mast__text span:nth-child(8) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .mast__text span:nth-child(9) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  .mast__text span:nth-child(10) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .mast__text span:nth-child(11) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
  }
  .mast__text span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .mast__text span:nth-child(13) {
    -webkit-animation-delay: 0.65s;
            animation-delay: 0.65s;
  }
  .mast__text span:nth-child(14) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .mast__text span:nth-child(15) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  .mast__text span:nth-child(16) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .mast__text span:nth-child(17) {
    -webkit-animation-delay: 0.85s;
            animation-delay: 0.85s;
  }
  .mast__text span:nth-child(18) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .mast__text span:nth-child(19) {
    -webkit-animation-delay: 0.95s;
            animation-delay: 0.95s;
  }
  .mast__text span:nth-child(20) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .mast__text span:nth-child(21) {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }
  .mast__text span:nth-child(22) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
  .mast__text span:nth-child(23) {
    -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
  }
  .mast__text span:nth-child(24) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .mast__text span:nth-child(25) {
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
  }
  .mast__text span:nth-child(26) {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  .mast__text span:nth-child(27) {
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
  }
  .mast__text span:nth-child(28) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .mast__text span:nth-child(29) {
    -webkit-animation-delay: 1.45s;
            animation-delay: 1.45s;
  }
  .mast__text span:nth-child(30) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .mast__text span:nth-child(31) {
    -webkit-animation-delay: 1.55s;
            animation-delay: 1.55s;
  }
  .mast__text span:nth-child(32) {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  .mast__text span:nth-child(33) {
    -webkit-animation-delay: 1.65s;
            animation-delay: 1.65s;
  }
  .mast__text span:nth-child(34) {
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
  }
  .mast__text span:nth-child(35) {
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
  }
  .mast__text span:nth-child(36) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  .mast__text span:nth-child(37) {
    -webkit-animation-delay: 1.85s;
            animation-delay: 1.85s;
  }
  .mast__text span:nth-child(38) {
    -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
  }
  .mast__text span:nth-child(39) {
    -webkit-animation-delay: 1.95s;
            animation-delay: 1.95s;
  }
  .mast__text span:nth-child(40) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .mast__text span:nth-child(41) {
    -webkit-animation-delay: 2.05s;
            animation-delay: 2.05s;
  }
  .mast__text span:nth-child(42) {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
  }
  .mast__text span:nth-child(43) {
    -webkit-animation-delay: 2.15s;
            animation-delay: 2.15s;
  }
  .mast__text span:nth-child(44) {
    -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
  }
  .mast__text span:nth-child(45) {
    -webkit-animation-delay: 2.25s;
            animation-delay: 2.25s;
  }
  .mast__text span:nth-child(46) {
    -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
  }
  .mast__text span:nth-child(47) {
    -webkit-animation-delay: 2.35s;
            animation-delay: 2.35s;
  }
  .mast__text span:nth-child(48) {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
  }
  .mast__text span:nth-child(49) {
    -webkit-animation-delay: 2.45s;
            animation-delay: 2.45s;
  }
  .mast__text span:nth-child(50) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  @-webkit-keyframes letter-glow {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
      opacity: 1;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }
    77% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes letter-glow {
    0% {
      opacity: 0;
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
      opacity: 1;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }
    77% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
   .bdcard {
     position: relative;
     width: 300px;
     height: 425px;
     border: 10px solid #73bfb5;
     margin: 50px auto 0 auto;
     box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
     background-color: #e6f0e6;
  }
   .bdcard .text-container {
     width: 80%;
     height: 80%;
     margin: auto;
  }
   .strikethrough {
     text-decoration: line-through;
  }
   .bdcard .text-container #head {
     font-family: 'Nobile', sans-serif;
     font-size: 1.5em;
     margin: 60px auto 60px auto;
  }
   .bdcard p {
     font-size: 1.1em;
     line-height: 1.4;
     font-family: 'Nobile';
     color: #331717;
     font-style: italic;
     text-align: center;
     margin: 30px auto 0px auto;
  }
   .bdcard .front {
     position: absolute;
     width: 100%;
     height: 100%;
     margin: -10px 0px 0px -10px;
     border: 10px solid #73bfb5;
     backface-visibility: hidden;
     background-color: #73a3bf;
     background-size: contain;
     transform-style: preserve-3d;
     transform-origin: 0% 50%;
     transform: perspective(800px) rotateY(0deg);
     transition: all 0.8s ease-in-out;
  }
  body .w-dyn-item:nth-child(4n+1) .bdcard .front {
    background-color: #54a0ff;
  }
  body .w-dyn-item:nth-child(4n+2) .bdcard .front {
    background-color: #5a9e3d;
  }
  body .w-dyn-item:nth-child(4n+3) .bdcard .front {
    background-color: #dadc5e;
  }
  body .w-dyn-item:nth-child(4n+4) .bdcard .front {
    background-color: #be60ef;
  }
   .bdcard:hover .front {
     transform: perspective(800px) rotateY(-170deg);
     background-color: #41718d;
  }
   .bdcard:hover .back {
     transform: perspective(800px) rotateY(-170deg);
     box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
     background-color: #d2dcd2;
  }
   .bdcard .back {
     position: absolute;
     width: 100%;
     height: 100%;
     border: 10px solid #73bfb5;
     margin: -10px 0px 0px -10px;
     backface-visibility: visible;
     filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
     transform-style: preserve-3d;
     transform-origin: 0% 50%;
     transform: perspective(800px) rotateY(0deg);
     transition: all 0.8s ease-in-out;
     background-color: #e6f0e6;
     box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
   .cover-shape-large {
     position: absolute;
     width: 65%;
     height: 48%;
     top: 25%;
     left: 18%;
  }
   .cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
     background-color: #73bf8f;
  }
  .front .cover-shape-small .shape-block {
    background: url(https://uploads-ssl.webflow.com/5dae06963b827853dc4d117f/5fb83df5642ed518fbd1ed40_evercast-symbol.png)#FFF no-repeat;
      background-size: 57px;
      background-position: center;
  }
   .cover-shape-small {
     position: absolute;
     width: 50%;
     height: 36%;
     top: 30%;
     left: 25%;
  }
   .shape-block {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: white;
     border-radius: 50px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }
   .shape-diamond {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: white;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
     transform: rotateZ(45deg);
  }
   .cake {
     position: absolute;
     width: 100px;
     height: 80px;
     top: 45%;
     left: 50%;
     margin-top: -28px;
     margin-left: -50px;
  }
   .cake > * {
     position: absolute;
  }
   .layer {
     position: absolute;
     display: block;
     width: 100px;
     height: 40px;
     border-radius: 50%;
     background-color: #553c13;
     box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b, 0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b, 0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a, 0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09, 0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
  }
   .layer-top {
     top: 0px;
  }
   .layer-middle {
     top: 13.2px;
  }
   .layer-bottom {
     top: 26.4px;
  }
   .icing {
     top: 0.8px;
     left: 2px;
     background-color: #f0e4d0;
     width: 96px;
     height: 36px;
     border-radius: 50%;
  }
   .icing:before {
     content: "";
     position: absolute;
     top: 4px;
     right: 5px;
     bottom: 6px;
     left: 5px;
     background-color: #f4ebdc;
     box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
     border-radius: 50%;
  }
   .drip {
     display: block;
     width: 20px;
     height: 24px;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
     background-color: #f0e4d0;
  }
   .drip1 {
     top: 22px;
     left: 2px;
     transform: skewY(15deg);
     height: 19.2px;
     width: 16px;
  }
   .drip2 {
     top: 30px;
     left: 72.4px;
     transform: skewY(-15deg);
  }
   .drip3 {
     top: 33.6px;
     left: 36px;
     width: 32px;
     border-bottom-left-radius: 40px;
     border-bottom-right-radius: 40px;
  }
   .candle {
     background-color: #bf737d;
     width: 6.4px;
     height: 20px;
     border-radius: 8px / 4px;
     top: -8px;
     left: 50%;
     margin-left: -3.2px;
  }
   .candle:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 6.4px;
     height: 3.2px;
     border-radius: 50%;
     background-color: #cf969e;
  }
   .flame {
     position: absolute;
     background-color: orange;
     width: 6px;
     height: 14px;
     border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
     top: -13.6px;
     left: 50%;
     margin-left: -3px;
     box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
     transform-origin: 50% 90%;
     animation: flicker 1s ease-in-out infinite;
  }
   @keyframes flicker {
     0% {
       box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2), 0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
    }
     25% {
       box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
     50% {
       box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3), 0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
    }
     75% {
       box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4), 0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
    }
     100% {
       box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
    }
  }